[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
black = "*"
isort = "*"
psycopg2 = "*"
dbt-postgres = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
jinja2 = "*"
sqlfluff = "*"
ruff = "*"
sqlfluff-templater-dbt = "*"

[dev-packages]

[requires]
python_version = "3.11"
